svg {
  display: block;
  margin: auto;
}

svg > path {
  stroke: rgb(233, 237, 247); /* Color */
  stroke-width: 0.1; /* Thickness */
  stroke-miterlimit: 10;
}

svg > line {
  stroke-width: 10;
  animation-duration: 1s;
  animation-iteration-count: 1; /* Corrected property */
  animation-fill-mode: forwards;
}

svg > line.bar_one {
  stroke: #FF5733; /* Updated color to match the theme */
  animation-name: appearOne;
}
svg > line.bar_two {
  stroke: #339FFF; /* Updated color to match the theme */
  animation-name: appearTwo;
}

@keyframes appearOne {
  0% { stroke-dasharray: 0 24; }
  100% { stroke-dasharray: 24 24; }
}

@keyframes appearTwo {
  0% { stroke-dasharray: 0 6; }
  100% { stroke-dasharray: 6 6; }
}
