@keyframes background1 {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.animated-box1 {
  background: linear-gradient(225deg, #d4e1f1, #f0daf5, #f9dcb5, #f79774);
  background-size: 300% 300%;
  animation: background1 10s linear infinite;
}

@keyframes background2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-box2 {
  background: linear-gradient(230deg, #bfd6ef, #e0f5e6, #d5fbff, #e5ffe5);
  background-size: 300% 300%;
  animation: background2 12s linear infinite;
  border-radius: 8px;
}

.animated-box3 {
  background: linear-gradient(220deg, #ffc4c4,  #fce3cf, #faf0cd, #ffbfb1);
  background-size: 300% 300%;
  animation: background3 11s linear infinite;
  border-radius: 10px;
}

@keyframes background3 {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.animated-box4 {
  background: linear-gradient(215deg, #eecef9, #d6d3ff, #f6defe, #ffcffd);
  background-size: 300% 300%;
  animation: background4 13s linear infinite;
  border-radius: 12px;
}

@keyframes background4 {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.animated-box4b {
  background: linear-gradient(215deg, #c1c1e5, #c4b0db, #bbb1cf, #9c9fce);
  background-size: 300% 300%;
  animation: background4 13s linear infinite;
  border-radius: 12px;
}

@keyframes background4b {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.animated-box5 {
  background: linear-gradient(215deg, #505053, #625572, #353535, #4e5180);
  background-size: 300% 300%;
  animation: background4 13s linear infinite;
}
@keyframes background5 {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

