.download-button {
    position: relative;
    overflow: hidden;
  }
  
  .download-icon {
    position: relative;
    transition: transform 0.5s ease-in-out;
  }
  
  .download-button:hover .download-icon {
    animation: moveArrow 1s ;
  }
  
  @keyframes moveArrow {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100%);
      opacity: 0;
    }
    51% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  